<div>
    <ng-container *ngIf="searchResultHistory">
        <h2>Search Result History</h2>
        <table class="table-class">
            <thead>
                <tr>
                    <th>Url</th>
                    <th>SearchtTerm</th>
                    <th>Ranking</th>
                    <th>Search Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of searchResultHistory">
                    <td>{{item.url}}</td>
                    <td>{{item.searchTerm}}</td>
                    <td>{{item.ranking}}</td>
                    <td>{{item.searchDate | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>