<div class="form-container">
    <form [formGroup]="searchForm">
        <div>
            <label for="search-term">Search term</label>
            <input id="search-term" type="text" formControlName="searchTerm">
            <div *ngIf="searchTerm.errors?.['required'] && (searchTerm.touched || searchTerm.dirty)">
                Search term is required.
            </div>
            <div *ngIf="searchTerm.errors?.['maxlength'] && (searchTerm.touched || searchTerm.dirty)">
                Search term must be no longer than {{this.maxCharacter}}.
            </div>
        </div>
        <div>
            <label for="url">URL</label>
            <input id="url" type="text" formControlName="url">
            <div *ngIf="url.errors?.['required'] && (url.touched || url.dirty)">
                Url is required.
            </div>
            <div *ngIf="url.errors?.['pattern'] && (url.touched || url.dirty)">
                Please enter a valid Url.
            </div>
        </div>

        <button type="submit" [disabled]="searchForm.invalid" (click)="onSearch()">Search</button>
    </form>
</div>
<div>
<ng-container *ngIf="searchResult">
    <h5>Search Result</h5>
    <table >
        <tbody>
            <tr>
                <th>Url</th>
                <th>SearchtTerm</th>
                <th>Ranking</th>
            </tr>
            <tr>
                <td>{{searchResult.url}}</td>
                <td>{{searchResult.searchTerm}}</td>
                <td>{{searchResult.ranking}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
</div>

<div>
    <ng-container *ngIf="searchResultHistory">
        <h5>Search Result History</h5>
        <table >
            <tbody>
                <tr>
                    <th>Url</th>
                    <th>SearchtTerm</th>
                    <th>Ranking</th>
                    <th>Search Date</th>
                </tr>
                <tr *ngFor="let item of searchResultHistory">
                    <td>{{item.url}}</td>
                    <td>{{item.searchTerm}}</td>
                    <td>{{item.ranking}}</td>
                    <td>{{item.searchDate | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    </div>
